STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN

    1, "Port"
    2, "IPv4 address"
    3, "The remote computer closed the connection, so there is no server running there in the provided port or a firewall is in you way.\nCheck the IP address and port introduced and try again later."
    4, "The server didn't respond.\nCheck the IP address and port introduced and try again."
    5, "Invalid response by the server."
    6, "Invalid port.\nIntroduce a value in the range 1024-49151."
    7, "The game is full, try again later or find another one."
    8, "Blue"
    9, "Red"
    10, "Green"
    100, "Yes"
    101, "No"

END

STRINGTABLE
LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL
BEGIN

    1, "Puerto"
    2, "Dirección IPv4"
    3, "La conexión fue cerrada por el equipo remoto, así que no hay servidor ejecutándose allí en el puerto dado o hay un firewall bloqueando.\nComprueba la dirección IP y el puerto introducidos e inténtalo de nuevo más tarde."
    4, "El servidor no respondió.\nComprueba la dirección IP y el puerto introducidos e inténtalo de nuevo."
    5, "Respuesta inválida del servidor."
    6, "Puerto inválido.\nIntroduce un valor en el rango 1024-49151."
    7, "La partida está llena, inténtalo de nuevo más tarde o busca otro servidor."
    8, "Azul"
    9, "Rojo"
    10, "Verde"
    100, "Sí"
    101, "No"

END
