IDD_SERVERSELECT DIALOGEX 0, 0, 400, 110
STYLE DS_CENTER | DS_SETFONT | WS_POPUP | WS_SYSMENU | WS_CAPTION | WS_MINIMIZEBOX
CAPTION "Snake - Join a game"
#ifdef BUILD_XP
FONT 8, "MS Shell Dlg"
#else
FONT 9, "Segoe UI"
#endif // BUILD_XP
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN

    CONTROL "Join manually", -1, "Button", BS_GROUPBOX, 12, 12, 154, 85

    CONTROL "IPv4 address:", -1, "Static", SS_LEFT, 24, 30, 80, 9
    CONTROL "", 111, "SysIPAddress32", WS_TABSTOP, 80, 29, 74, 11

    CONTROL "Port:", -1, "Static", SS_LEFT, 24, 50, 25, 9
    CONTROL "29349", 112, "Edit", SS_LEFT | WS_TABSTOP, 80, 49, 27, 12, WS_EX_CLIENTEDGE

    CONTROL "&Connect", 120, "Button", BS_DEFPUSHBUTTON | WS_TABSTOP, 68, 72, 42, 14

    CONTROL "LAN games:", -1, "Static", SS_LEFT, 178, 12, 100, 9

    CONTROL "", 110, "SysListView32", LVS_REPORT | WS_VSCROLL | LVS_OWNERDATA | LVS_SINGLESEL | WS_TABSTOP, 178, 24, 210, 73, WS_EX_CLIENTEDGE

    //CONTROL "&Edit controls", 121, "Button", BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED, 338, 2, 60, 14

END

IDD_SERVERCONNECT DIALOGEX 0, 0, 200, 219
STYLE DS_SETFONT | DS_CENTER | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Snake - Join game"
#ifdef BUILD_XP
FONT 8, "MS Shell Dlg"
#else
FONT 9, "Segoe UI"
#endif // BUILD_XP
BEGIN

    CONTROL "Server info", -1, "Button", BS_GROUPBOX, 12, 12, 176, 110
    CONTROL "Connecting...", 130, "Static", SS_LEFT, 10, 202, 60, 9

    CONTROL "Game name:", 201, "Static", SS_LEFT | WS_DISABLED, 24, 30, 70, 9
    CONTROL "-", 101, "Edit", ES_RIGHT | ES_READONLY | ES_AUTOHSCROLL | WS_DISABLED, 100, 30, 74, 9

    CONTROL "Max players:", 202, "Static", SS_LEFT | WS_DISABLED, 24, 48, 100, 9
    CONTROL "-", 103, "Edit", ES_RIGHT | ES_READONLY | WS_DISABLED, 154, 48, 20, 9

    CONTROL "Connected players:", 204, "Static", SS_LEFT | WS_DISABLED, 24, 66, 100, 9
    CONTROL "-", 104, "Edit", ES_RIGHT | ES_READONLY | WS_DISABLED, 154, 66, 20, 9

    CONTROL "Grid size:", 206, "Static", SS_LEFT | WS_DISABLED, 24, 84, 100, 9
    CONTROL "-x-", 106, "Edit", ES_RIGHT | ES_READONLY | WS_DISABLED, 145, 84, 30, 9

    CONTROL "Initial player lenght:", 207, "Static", SS_LEFT | WS_DISABLED, 24, 102, 100, 9
    CONTROL "-", 107, "Edit", ES_RIGHT | ES_READONLY | WS_DISABLED, 154, 102, 20, 9


    CONTROL "You", -1, "Button", BS_GROUPBOX, 12, 128, 176, 62
    CONTROL "Name:", 203, "Static", SS_LEFT | WS_DISABLED, 24, 140, 60, 9
    CONTROL "", 102, "Edit", ES_LEFT | ES_AUTOHSCROLL | WS_DISABLED | WS_TABSTOP, 76, 140, 100, 13, WS_EX_CLIENTEDGE

    CONTROL "Color:", 205, "Static", SS_LEFT | WS_DISABLED, 24, 166, 50, 9
    CONTROL "", 105, "ComboBox", CBS_DROPDOWNLIST | WS_DISABLED | WS_TABSTOP, 116, 166, 60, 60

    CONTROL "&Join", IDOK, "Button", BS_DEFPUSHBUTTON | WS_DISABLED | WS_TABSTOP | WS_GROUP, 91, 199, 46, 13
    CONTROL "&Cancel", IDCANCEL, "Button", BS_PUSHBUTTON, 142, 199, 46, 13

END

IDD_LOBBYWAIT DIALOGEX 0, 0, 300, 100
STYLE DS_CENTER | DS_SETFONT | WS_POPUP | WS_SYSMENU | WS_MINIMIZEBOX | WS_CAPTION
CAPTION "Snake - Waiting host"
#ifdef BUILD_XP
FONT 8, "MS Shell Dlg"
#else
FONT 9, "Segoe UI"
#endif // BUILD_XP
BEGIN

    CONTROL "&Leave", IDCLOSE, "Button", BS_PUSHBUTTON | WS_TABSTOP, 127, 50, 46, 13

    CONTROL "", 201, "Static", SS_LEFT, 12, 20, 276, 29

END

IDD_SERVERSELECT DIALOGEX 0, 0, 400, 110
STYLE DS_CENTER | DS_SETFONT | WS_POPUP | WS_SYSMENU | WS_CAPTION | WS_MINIMIZEBOX
CAPTION "Snake - Unirse a partida"
#ifdef BUILD_XP
FONT 8, "MS Shell Dlg"
#else
FONT 9, "Segoe UI"
#endif // BUILD_XP
LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL
BEGIN

    CONTROL "Unirse manualmente", -1, "Button", BS_GROUPBOX, 12, 12, 154, 85

    CONTROL "Dirección IPv4:", -1, "Static", SS_LEFT, 24, 30, 80, 9
    CONTROL "", 111, "SysIPAddress32", WS_TABSTOP, 80, 29, 74, 11

    CONTROL "Puerto:", -1, "Static", SS_LEFT, 24, 50, 25, 9
    CONTROL "29349", 112, "Edit", SS_LEFT | WS_TABSTOP, 80, 49, 27, 12, WS_EX_CLIENTEDGE

    CONTROL "&Conectar", 120, "Button", BS_DEFPUSHBUTTON | WS_TABSTOP, 67, 72, 46, 14

    CONTROL "Partidas LAN:", -1, "Static", SS_LEFT, 178, 12, 100, 9

    CONTROL "", 110, "SysListView32", LVS_REPORT | WS_VSCROLL | LVS_OWNERDATA | LVS_SINGLESEL | WS_TABSTOP, 178, 24, 210, 73, WS_EX_CLIENTEDGE

    //CONTROL "&Editar controles", 121, "Button", BS_PUSHBUTTON | WS_TABSTOP | WS_DISABLED, 338, 2, 60, 14

END
