1 DIALOGEX 0, 0, 210, 166
STYLE DS_CENTER | WS_POPUP | WS_SYSMENU | WS_CAPTION | WS_MINIMIZEBOX | WS_BORDER | DS_SETFONT
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Snake Server - Crear partida"
FONT 9, "Segoe UI"
LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL
BEGIN

    CONTROL "Opciones del servidor", -1, "Button", BS_GROUPBOX, 12, 6, 186, 60

    CONTROL "Puerto:", -1, "Static", SS_LEFT, 24, 20, 50, 9
    CONTROL "29349", 101, "Edit", WS_TABSTOP | ES_NUMBER, 106, 20, 28, 12, WS_EX_CLIENTEDGE

    CONTROL "Opciones de la partida", -1, "Button", BS_GROUPBOX, 12, 72, 186, 60
    CONTROL "Nombre:", -1, "Static", 0, 24, 84, 40, 9
    CONTROL "Servidor Snake", 103, "Edit", SS_RIGHT | WS_TABSTOP | WS_GROUP | ES_AUTOHSCROLL, 70, 84, 110, 12, WS_EX_CLIENTEDGE

    CONTROL "Mostrar servidor en búsquedas &LAN", 104, "Button", BS_AUTOCHECKBOX, 24, 45, 150, 9

    CONTROL "Máximo de jugadores:", -1, "Static", 0, 24, 102, 80, 9
    CONTROL "", -1, "Edit", ES_NUMBER | ES_RIGHT | WS_TABSTOP | WS_GROUP, 150, 102, 30, 12, WS_EX_CLIENTEDGE
    CONTROL "", 102, "msctls_updown32", UDS_NOTHOUSANDS | UDS_ALIGNRIGHT | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_ARROWKEYS, 0, 0, 0, 0

    CONTROL "&Aceptar", IDOK, "Button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_GROUP, 96, 142, 48, 14
    CONTROL "&Cancelar", IDCANCEL, "Button", BS_PUSHBUTTON, 150, 142, 48, 14

END

2 DIALOGEX 0, 0, 400, 200
STYLE DS_CENTER | DS_SETFONT | WS_POPUP | WS_SYSMENU | WS_CAPTION | WS_MINIMIZEBOX | WS_BORDER
CAPTION "Snake Server"
FONT 9, "Segoe UI"
BEGIN

    CONTROL "Estado", -1, "Button", BS_GROUPBOX, 12, 12, 200, 100
    //CONTROL "Jugadores:", -1, "Static", SS_LEFT, 200, 12, 100, 9

    CONTROL "&Iniciar partida", 101, "Button", BS_PUSHBUTTON | WS_TABSTOP, 12, 150, 56, 14

    CONTROL "&Detener", 102, "Button", BS_PUSHBUTTON | WS_TABSTOP, 100, 150, 56, 14

    //CONTROL "", 200, "SysListView32", LVS_REPORT, 200, 24, 100, 100, WS_EX_CLIENTEDGE

    CONTROL "-/-", 201, "Static", SS_RIGHT, 140, 30, 40, 9

    CONTROL "Número de jugadores:", -1, "Static", SS_LEFT, 24, 30, 150, 9


END
